.area-list {
  width: 100%;
  margin-top: 20px; }

.item {
  width: 600px;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: auto;
  margin-right: auto; }
  .item input {
    width: 88%; }
  .item:hover {
    background: rgba(0, 100, 0, 0.2); }
  .item .area-id {
    width: 100px;
    height: 100%;
    float: left;
    border-right: 1px solid black;
    padding-left: 3px; }
  .item .area-name {
    width: 200px;
    height: 100%;
    float: left;
    border-right: 1px solid black;
    padding-left: 3px; }
  .item .area-age {
    width: 89px;
    height: 100%;
    float: left;
    padding-left: 3px;
    border-right: 1px solid black; }
  .item .area-redact {
    width: 106px;
    height: 100%;
    float: left;
    padding-left: 3px;
    border-right: 1px solid black;
    cursor: pointer; }
  .item .area-delete {
    width: 86px;
    height: 100%;
    float: left;
    padding-left: 3px;
    cursor: pointer; }
  .item .area-add {
    width: 196px;
    height: 100%;
    float: left;
    cursor: pointer;
    padding-left: 3px; }
