<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест Фронт</title>
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script>
        let csrf = '{{ csrf_token }}';
        let user = '{{ user }}';
        let list_person = [{% for i in list_person %}{ 'id':{{i.id}},'name':'{{i.name}}','age':{{i.age}} },{% endfor %}]
    </script>
</head>
<body>


<div id="area_list"></div>

















<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>

<script type = "text/babel" src="{% static 'js/main_page.js' %}"></script>



</body>
</html>